<!-- <div id="dashboard-homepage">
  <div class="quick-actions">
    <p class="tags" data-gloss="Add, Import, and Export subscribers quickly">
      Quick Actions
    </p>
    <div class="action-buttons">
      <button class="add-subscriber">
        <i class="fa-solid fa-user-plus"></i>Add a subscriber
      </button>
      <button class="import-contacts">
        <i class="fa-solid fa-file-import"></i>Import contacts
      </button>
      <button class="export-contacts">
        <i class="fa-solid fa-download"></i>Export contacts
      </button>
    </div>
  </div>
  <div class="email-performance-dashboard">
    <p class="tags" data-gloss="Shows Combined metrics for your emails">
      Email Performance
    </p>
    <div class="all-performance-elements">
      <div class="buttons-days">
        <button>1 week</button>
        <button>1 Month</button>
        <button>3 Months</button>
      </div>
      <div class="performance-container">
        <div id="open-rate">
          <p>Open rate</p>
          <p>0.00%</p>
        </div>
        <div id="click-rate">
          <p>Click rate</p>
          <p>0.00%</p>
        </div>
        <div id="clicks-per-unique-opens">
          <p>Clicks per unique opens</p>
          <p>0.00%</p>
        </div>
        <div id="unsubscribed">
          <p>Unsubscribed</p>
          <p>0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="audience-dashboard">
    <div>
      <div>
        <p
          class="tags"
          data-gloss="Shows contact metrics from your select audience"
        >
          Audience
        </p>
      </div>
      <div class="buttons-days">
        <button>1 week</button>
        <button>1 Month</button>
        <button>3 Months</button>
      </div>
      <div>
        <p>Current contacts</p>
        <p>0.00%</p>
        <p>Compared to the last 1 week</p>
      </div>
    </div>
    <div>
      <div>
        <p class="tags" data-gloss="Show metrics of your most recent emails">
          Recent Campaign Performance
        </p>
      </div>
      <table class="campaign-table">
        <tr>
          <th>Name of Campaign</th>
          <th>No. Of Recipients</th>
        </tr>
      </table>
      <a href="/">View Analytics</a>
    </div>
  </div>
</div> -->
